
.versus {
  border: solid 2.5px;
  font-size: 1.9rem;
  line-height: 2.25;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin-top: 64px;
  text-align: center
}

.mat-display-1 {
  margin: 0;
}

.city {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
}

.result-container {
  height: 100vh;

}

.winner {
  background-image: url('../../assets/confetti.gif');
  background-size: cover;
}
.results {
  min-width: 225px;
}